<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-01-15T02:56:02.773020986"/>
	<meta name="changed" content="2018-01-15T03:40:45.538672875"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Ambot Automation.com
– Custom Control Panels Made to Order<br/>
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">To expedite your
order</p>
<p style="margin-bottom: 0in; line-height: 100%">1. Register as a
user (below)</p>
<p style="margin-bottom: 0in; line-height: 100%">2. Fill out your
profile</p>
<p style="margin-bottom: 0in; line-height: 100%">3. Click “New
Quote”</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<%= link_to 'Sign In', users_sign_in_path, class: 'submit' %> /
	<%= link_to 'Register!', users_sign_up_path, class: 'submit' %> <br />

	<%= link_to 'Go to your profile', welcome_myProfile_path %>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
