<div class="container" id="header">
  <div class="row" height="200%">
    <div class="col-2">
      Social Media Buttons
    </div>
    <div class="col-6">
    </div>
    <div class="col-2 right">
      24/7 Support
    </div>
    <div class="col-2 right">
      +1.416.892.7966
    </div>
  </div>
  <br><br><br>
  <div class="row" height="400%">
    <div class="col-1">
      AMBOT AUTOMATION
    </div>
    <div class="col-3">
    </div>
    <div class="col-2">
      CONTACT US
    </div>
    <div class="col-2">
      WHAT WE DO
    </div>
    <div class="col-2">
      LOCATIONS
    </div>
    <div class="col-2">
      WHAT'S NEW?
    </div>
  </div>
</div>
<br><br>
<div class="container" id="body">
  <div class="row">
    <h1>
      <em>
        Custom Control Panel Quote
      </em>
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag("ord_req_1.png") %>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            Basic Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="First Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Email (required))">
            <br>
            <p>
              Service Branch Location
            </p>
            <br>
            <input type="dropdown" name="" value="Toronto, Ontario">
          </div>
          <div class="col">
            Advanced Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Last Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Company">
            <br>
            <p>
              Industry
            </p>
            <br>
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">Automotive</a>
                <a class="dropdown-item">Energy</a>
                <a class="dropdown-item">Food Beverage</a>
                <a class="dropdown-item">Manufacturing</a>
                <a class="dropdown-item">Packaging</a>
                <a class="dropdown-item">Pharmaceutical</a>
                <a class="dropdown-item">Other</a>
                <!--  Program in a function to show the following textbox only when other is selected-->
                <input type="text" class="form-control" name="" value="" placeholder="Please specify your industry.">
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <p>
            Panel Enclosure
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">Stainless Steel</a>
                <a class="dropdown-item">Fiber Glass</a>
                <a class="dropdown-item">Mild Steel</a>
                <a class="dropdown-item">Other</a>
                <!--  Program in a function to show the following textbox only when other is selected-->
                <input type="text" class="form-control" name="" value="" placeholder="Please specify the enclosure type.">
              </div>
            </div>
            </p>
            <br>
            <p>
            Required Certification
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">CSA or ESA</a>
                <a class="dropdown-item">CSA</a>
                <a class="dropdown-item">ESA</a>
                <a class="dropdown-item">UL</a>
                <a class="dropdown-item">CE</a>
                <a class="dropdown-item">Other</a>
                <!--  Program in a function to show the following textbox only when other is selected-->
                <input type="text" class="form-control" name="" value="" placeholder="Please specify the required certification.">
              </div>
            </div>
            </p>
            <br>
            <p>
              Incoming Voltage
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">24</a>
                <a class="dropdown-item">24 VDC</a>
                <a class="dropdown-item">24 V</a>
                <a class="dropdown-item">110 - 120 V</a>
                <a class="dropdown-item">220 - 380 V</a>
                <a class="dropdown-item">360 - 380 V</a>
                <a class="dropdown-item">440 - 480 V</a>
                <a class="dropdown-item">550 - 600 V</a>
              </div>
            </div>
            </p>
            <br>
          </div>
          <div class="col">
            <p>
              Panel Safety Category
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">CAT I</a>
                <a class="dropdown-item">CAT II</a>
                <a class="dropdown-item">CAT III</a>
                <a class="dropdown-item">CAT IV</a>
              </div>
            </div>
            </p>
            <br>
            <p>
              NEMA Rating
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">1</a>
                <a class="dropdown-item">2</a>
                <a class="dropdown-item">3</a>
                <a class="dropdown-item">3R</a>
                <a class="dropdown-item">3S</a>
                <a class="dropdown-item">4</a>
                <a class="dropdown-item">4X</a>
                <a class="dropdown-item">5</a>
                <a class="dropdown-item">6</a>
                <a class="dropdown-item">6P</a>
                <a class="dropdown-item">12</a>
                <a class="dropdown-item">12K</a>
                <a class="dropdown-item">13</a>
              </div>
            </div>
            </p>
            <br>
            <p>
              Control Voltage
            <div class="btn-group">
              <button type="button" class="btn">---</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">24 VDC</a>
                <a class="dropdown-item">24 V</a>
                <a class="dropdown-item">110-120 V</a>
                <a class="dropdown-item">220-240 V</a>
                <!-- <div class="dropdown-divider"></div> -->
              </div>
            </div>
            <!-- <input type="dropdown" name="" value="---"> -->
          </div>
        </div>
        </p>
        <br>
        <div class="row">
          <div class="col">
              PLC Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <% ["Yes", "No"].each do |val| %>
                  <%= radio_button_tag :val, val %>
                  <%= val %>
                <% end %>
              </form>
            </p>
            <!--  Program in a function to show the following COLLAPSED section only when Yes is selected-->
            <!--  COLLAPSED  -->
            <div class="" id="plcHidden1" >
              Will you be supplying the PLC?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
              Do you require a specific PLC?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes" onclick=toggleSomething(plcHidden2)>
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            <!--  TODO: Hide the following COLLAPSED2 SECTION until YES is selected from the above form choice-->
            <!--  COLLAPSED2 -->
            <div id="plcHidden2" hidden="">
              <input type="text" class="form-control" name="" value="" placeholder="Please enter the make/model of the PLC required.">
            </div>
            <script type="text/javascript">
              function toggleSomething(id){
                id = "#" + id.to_str()
                ($(id).hidden == "true")?($(id).hidden = "False"):($(id).hidden = "true")
                // brute script below
                // ($("#plcHidden2").hidden == "true")?($("#plcHidden2").hidden = "False"):($("#plcHidden2").hidden = "true")
              }
            </script>
            <!--  COLLAPSED2 END  -->
            <br>
            Would you like us to include a quote for programming?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            </div>
            <!--  COLLAPSED END  -->
            <br>
              HMI Required?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>              <!--  Program in a function to show the following COLLAPSED section only when Yes is selected-->
              <!--  COLLAPSED  -->
              Will you be supplying the HMI?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>
                Do you require a specific HMI?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>
              <!--  TODO: Hide the following COLLAPSED2 SECTION until YES is selected from the above form choice-->
              <!--  COLLAPSED2 -->
              <input type="text" class="form-control" name="" value="" placeholder="Please enter the make/model of HMI required.">
              <!--  COLLAPSED2 END  -->
              <br>
              Would you like us to include a quote for programming?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>
              <!--  COLLAPSED END  -->
            <p>
            </p>
            <br>
            <!--  Something's misaligned in the html-->
              Buttons Required?
            <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>              <!--  Program in a function to show the following COLLAPSED section only when Yes is selected-->
              <!--  COLLAPSED  -->
              Will you be supplying the buttons?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>
                Do you require specific buttons?
              <br>
              <p>
                <form class="" action="" method="post">
                  <label for="Yes">
                    Yes
                  </label>
                  <input type="radio" name="" value="">
                  <label for="No">
                    No
                  </label>
                  <input type="radio" name="" value="">
                </form>
              </p>
              <!--  TODO: Hide the following COLLAPSED2 SECTION until YES is selected from the above form choice-->
              <!--  COLLAPSED2 -->
              <input type="text" class="form-control" name="" value="" placeholder="Please enter the make/model of any buttons required.">
              <!--  COLLAPSED2 END  -->
              <!--  COLLAPSED END  -->
            <br>
          </div>
          <div class="col">
            Motor Nameplate Info
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the AC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the DC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the other motor info.">
          </div>
        </div>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <br>
            <br>
            <br>
            <br>
            Please provide any additional information required.
            <textarea name="message" class="form-control" rows="10" cols="30" placeholder="">
            </textarea>
          </div>
          <div class="col">
            <p>
            Expected Completion Date
            </p>
            <br>
            <form method="post">
              <div class="form-group"> <!-- Date input -->
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
              </div>
              <div class="form-group"> <!-- Submit button -->
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
           </form>
           <script>
                // This is the script for the datepicker's functionality.
              $(document).ready(function(){
                var date_input=$('input[name="date"]'); //our date input has the name "date"
                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                var options={
                  format: 'mm/dd/yyyy',
                  container: container,
                  todayHighlight: true,
                  autoclose: true,
                };
                date_input.datepicker(options);
              })
          </script>
           <br>
           A Captcha Goes here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-3">AMBOT AUTOMATION
          <br>
          <br>
          this is a nice image of Ambot In Operation
        </div>
        <div data-toggle="collapse" class="col-3">MODULAR DESIGN
          <br>
          <br>
          there is a nice image of design here
        </div>
      </div>
    </div>
    <div class="col-3">My form begins here
    </div>
  </div>
</div>
