<div class="container" id="header">
  <div class="row card header" height="200%">
    <div class="col-2">
      Social Media Buttons
    </div>
    <div class="col-6">
    </div>
    <div class="col-2">
      24/7 Support
    </div>
    <div class="col-2">
      +1.416.892.7966
    </div>
  </div>
  <div class="row" height="400%">
    <div class="col-1">
      AMBOT AUTOMATION
    </div>
    <div class="col-3">
    </div>
    <div class="col-2">
      CONTACT US
    </div>
    <div class="col-2">
      WHAT WE DO
    </div>
    <div class="col-2">
      LOCATIONS
    </div>
    <div class="col-2">
      WHAT'S NEW?
    </div>
  </div>
</div>
<div class="container" id="body">
  <div class="row">
    Custom Control Panel Quote
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        I am a big image
        <%= image_tag("ord_req_1.png") %>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col">
            Basic Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="First Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Email (required))">
            <br>
            <p>
              Service Branch Location
            </p>
            <br>
            <input type="dropdown" name="" value="Toronto, Ontario">
          </div>
          <div class="col">
            Advanced Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Last Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Company">
            <br>
            <p>
              Industry
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
        </div>
        <br><br><br>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <p>
              Panel Enclosure
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Required Certification
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Incoming Voltage
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
          <div class="col">
            <p>
              Panel Safety Category
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              NEMA Rating
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Control Voltage
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
        </div>

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col">
              PLC Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            <br>
            <br>
              HMI Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            <br>
            <br>
              Buttons Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
          </div>
          <div class="col">
            Motor Nameplate Info
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the AC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the DC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the other motor info.">
          </div>
        </div>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <br>
            <br>
            <br>
            <br>
            Please provide any additional information required.
            <textarea name="message" rows="10" cols="30" placeholder="">
            </textarea>
            <input type="paragraph" name="" value="">
          </div>
          <div class="col">
            <p>
            Expected Completion Date
            </p>
            <br>
            <form method="post">
              <div class="form-group"> <!-- Date input -->
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
              </div>
              <div class="form-group"> <!-- Submit button -->
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
           </form>
           <br>
           A Captcha Goes here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-3">AMBOT AUTOMATION
          <br>
          <br>
          this is a nice image of me
        </div>
        <div data-toggle="collapse" class="col-3">MODULAR DESIGN
          <br>
          <br>
          there is a nice image of design here
        </div>

      </div>
    </div>
    <div class="col-3">My form begis here
    </div>
  </div>
</div>
