<h1>Welcome#view</h1>
<p>Find me in app/views/welcome/view.html.erb</p>

create user gem. get  {name ,email,phone number,business name,home address,city,country}
[user logged in page]after login, take them to "quote management"
_____
| quote management

new quote \ status of pending/open orders \ completed orders____|
___________
|new quote

upload schematics (we accept png file types) -->  (if you dont have schematics, please click here)
panel size --->
what parts --->
date you'd like them to be completed by(doesnt include shipping time) -->
if you have parts, upload pictures here --->

{javascript part here - take all this information, pair some with time and cost expenses, and send them to amrit}  ____|




plan

after they are a user
i see a button that says request quote.
shipping or delivery (no onsite development)
sizes are 10 in^3 to 70in^3
they would say,

do i have schematics? and upload schematics __y __n
##talk to an engineer to create schematics - -

## conversation and full quote here

what size is the panel sizes?  (dropdown menu: options)
what do you want in the panel (dropdown menu: options)
				100 selections with quantities (each item says: "i have this product onhand", "i do not have this product and need it sourced")
        use the order v.03 tab and make up some random items.

when do you want this item by? (4-6, 3-4, 2-3, 1-2 weeks, within 1 week)

If i have pieces to ship, i should show you a picture of them. also with specs.
    ----
amrit GETS the email that tells the quote of est. time and cost.
amrit gives quote for this machine (add delivery and shipping)
quote has (cost, delivery date verification ) , verify that the items are the right thing.

tell me where to ship my pieces
-----
confirming payment and confirmed deliver of pieces will start the process
100% of cost of materials amrit has to source
and 30% labor costs (and  30% of the engineering if that was done)
---


http://www.boxcadexm.com/RDWebPlayer/Resources_EXM/English_V20171214_1/RDTemplate.htm?ctxID=2018-01-04-22-55-57-76-018


easiest customer would have schematics and source all the items themselves
