<h1>Ambot Automation is currently under construction.</h1>
<p>If you have any questions, comments, or concerns for this webpage, please leave a message with us below</p>

<form action="https://getsimpleform.com/messages?form_api_token=876305e977eb62c8f7e693a89d24daf2" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!-- all your input fields here.... -->
  Name: <input type='text' name='name' /><br>
  Email: <input type='text' name='email' /><br>
  Phone#: <input type='text' name='phone' /><br>
  Message <input type='text' name='message' /><br>
  <input type='submit' value='Submit' /><br>
</form>

<h6>Maintained by Anand Etwaru from <a href="www.techitjc.com">TechIT</a></h6>
