
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-sm-1" id="socialButtons">stub
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-1" id="support">stub
      </div>
      <div class="col-md-1" id="num">stub
      </div>
    <div class="row">
    </div>
</div>
</header>
<%= yield %>

<footer>
</footer>
